body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.info-container {
    display: flex;
    justify-content: space-evenly;
}
.display-header {
    text-align: center;
}

.value-display {
    font-size: 500%;
    padding: 204px 0
}

.graph-container {
    width: 1000px;
}